.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.flex-item{
    flex-grow: 1;
    flex-basis: 250px;
    margin: 20px;
    max-width: 250px;
    border: 2px solid #340;
    padding: 0 20px;
}
.flex-item:hover{
    border-color: green;
    box-shadow: 0px 0px 30px green;
}
.flex-item:focus{
    border-color: green;
    box-shadow: 0px 0px 30px green;
}
h2, h3{
    margin: 0;
}
h3{
    color: #999;
}
p{
    color: green
}

.llave-img{
    width: 250px;
}
form{
    width: 100%;
    text-align: center;
}
input[type="submit"]{
    background: green;
    color: white;
    border: none;
    padding: 8px 20px;
}